.NewProdDrawer{
    display: flex;
    height: 100%;
}

.NewProdDrawer .Container-dados{
    width: 100%;
    background-color: #bdeefd80;
    text-align: center;
}

.NewProdDrawer input{
    width: 50%;
}

.NewProdDrawer textarea{
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    max-height: 300px;
}

.NewProdDrawer .Imagem{
    width: 25%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.NewProdDrawer .radioControler{
    border: 2px groove rgba(118, 200, 147, 0.836);
    border-radius: 8px;
    width: 150px;
    text-align: start;
    margin-left: auto;
    margin-right: auto;
}

