.dropdown{
    position: fixed;
    width: 200px;
    top: 1px;
    left: 94%;
    transform: translate(-50%, 50%);
    border: 1px solid;
    padding: 1px;
    background-color: rgb(213, 239, 247)!important;
    border: 2px groove #4682b4; border-radius: 8px
}

.dropdown .dropdown-menu{
    list-style-type: none;
    text-align: left;
    padding-left: 5px;
}


.dropdown .user-header{
    width: 100%;
    padding-right: 10px;
}
.dropdown .user-header p{
  white-space: nowrap;
  width: 100%;
  overflow: hidden;              
  text-overflow:    ellipsis;
}

.dropdown .dropdown-toggle{
    width: 60%;
}

.dropdown .container-userlogin-title{
  width: 100%;
  display: flex
}

.dropdown a{
  white-space: nowrap;
  overflow: hidden;              

  text-overflow:    ellipsis;
}

.dropdown .dropdown-toggle span{
  white-space: nowrap;
  overflow: hidden;              
  text-overflow:    ellipsis;
}

.dropdown .profile {
  margin-left: 10px;
	border-radius: 5px;
  height: 30%;
  width: 30%;
}