.Home {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;    
  }
  .h1 {
    font-weight: 200;
  }
  
  .linha {
    display: flex;
  }
  
  .Home-container-dados{
    width: 90%;
    margin-left: 5%;

  }

  .Home-container-dados-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,800px));
    grid-gap: 5px;
  }

  .Home-countainer-lista{
    margin-left: 3%;
  }

  .Home-countainer-lista h1{
    color: rgb(255, 255, 255);
    font-family: fantasy;
  }
  
  .Home-text-header{
    font-size: 45px;  
  }
  
