.Home {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;    
    align-items: center;
  }
  
  .Home .container-dados{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px,50%));
    justify-content: center;
    margin-top: 10px;
    border: 4px groove #52b69a;
    border-radius: 5px;
    background-color: rgb(213, 239, 247);
  }

  .Home .container-dados .columns{
    display: block;
    padding: 6px;
  }

 
  .Home h1{
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }