.Menu-drawer{
    background-image: linear-gradient(to right, rgba(2, 2, 218, 0.452) , rgba(42, 110, 96, 0.781)); 
    height: 100%;
}

.Menu-drawer-pop{
   background-image: linear-gradient(to right, rgba(2, 2, 218, 0.452) , rgba(42, 110, 96, 0.781));
   height: 100%;
}

.Menu-drawer-pop Button{
    color: yellow;
}