.ListaProdutos{
    display: inline-grid;
    text-align: center;
    border: 2px groove rgb(70, 130, 180);
    border-radius: 8px;
    margin-left: 15%;
    margin-right: 15%;
    background-image: linear-gradient(to right, rgb(14, 14, 66) , rgb(31, 88, 76));
    background-attachment: fixed;
    padding: 10px;
    width: 1300px 100%;
    flex-wrap: wrap;
}
