.ListaProdutos{
    display: grid;
    border: 3px groove rgb(70, 130, 180);
    border-radius: 8px;
    margin: auto;
    padding: 10px;
    width:90%;
    max-width: 700px;    
    grid-gap: 10px;
}
.teste-item-12{
    background-color: rgb(201, 9, 9);
    display: flex;
    height: 1500px;
    /* width: 50%; */
}

