.ListagemItens{
    display: inline-block;
    /* grid-template-columns: repeat(auto-fill, minmax(500px, 10fr)); */
    border-radius: 10px;
    background-image:  linear-gradient(to right, rgba(82, 182, 154, 0.452) , rgba(52, 160, 164, 0.781));
    width: 100%;
}
